.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
  transition: 0.4s;
}

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav_logo {
    color: $first-color;
    font-weight: $font-medium;
    transition: 0.4s;

    &:hover {
      color: $first-color-alt;
    }
  }

  .nav_menu {
    position: fixed;
    bottom: 1rem;
    width: 90%;
    background-color: hsla($second-hue, 32%, 16%, 0.8);
    padding: 1rem 2.25rem;
    border-radius: 4rem;
    backdrop-filter: blur(10px);
    transition: 0.4s;
  }

  .nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_link {
      display: flex;
      font-size: $h2-font-size;
      color: $text-color;
      padding: 0.4rem;
      border-radius: 5rem;

      &.active-link {
        background: linear-gradient(
          180deg,
          hsla($first-hue, $sat, $lig, 1),
          hsla($first-hue, $sat, $lig, 0.2)
        );
        box-shadow: 0 0 16px hsla($first-hue, $sat, $lig, 0.4);
      }

      &:hover {
        color: $first-color;
      }
    }
  }
}

// scroll-header
.scroll-header {
  box-shadow: 0 4px 4px hsla($first-hue, $sat, $lig, 0.2);
  background-color: $body-color;
}

@media screen and (max-width: 320px) {
  .nav_menu {
    padding: 1rem 1.5rem;
  }
}
